<!doctype html>
<html>

    <head>
        {{> layout/desktop/meta}}
        {{> layout/desktop/css}}
        {{> layout/desktop/head-javascript}}
    </head>
    <body>
        {{{body}}}

        {{> layout/desktop/javascripts}}

        {{#if appJavaScripts}}
            {{#appJavaScripts}}
                {{{javascriptOutputHelper this ../this  }}}
            {{/appJavaScripts}}
        {{/if}}

        {{#if templates}}
            <script id="templates_{{_folderName}}">
                (function () {
                    var template  = Handlebars.template,
                        templates = Handlebars.templates = Handlebars.templates || {};

                  {{#templates}}
                    templates['{{{prefix}}}{{{name}}}'] = template({{{template}}});
                  {{/templates}}
                }());
            </script>
        {{/if}}

        <script id="global_inline">
            $( document ).ready(function() {
                SOWA.ScriptManager.registerScripts();
            });
        </script>

    </body>
</html>
